spring.datasource.url=jdbc:mysql://127.0.0.1:3306/gpt
spring.datasource.username=root
spring.datasource.password=
spring.jpa.show-sql=true
spring.data.jpa.repositories.enabled=true
spring.jpa.database=mysql
spring.jpa.generate-ddl=true
spring.jpa.ddl-auto=create-drop
spring.jpa.open-in-view=false
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true
logging.level.org.springframework.web=DEBUG
logging.level.org.hibernate=ERROR
server.port=8081


spring.security.oauth2.client.registration.google.client-id=
spring.security.oauth2.client.registration.google.client-secret=


spring.security.oauth2.resourceserver.jwt.issuer-uri=https://accounts.google.com
spring.security.oauth2.resourceserver.jwt.jwk-set-uri=https://www.googleapis.com/oauth2/v3/certs


openapi.url=https://api.openai.com/v1/chat/completions
openapi.clientid=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